<div class="desktop4-container">
  <div class="desktop4-desktop4">
    <div class="desktop4-frame48096280">
      <div class="desktop4-head-nav-bar">
        <div class="desktop4-frame48096257">
          <div class="desktop4-frame48096256">
            <div class="desktop4-group48096022">
              <img
                src="/assets/external/ellipse6117-o7f-200h.png"
                alt="Ellipse6117"
                class="desktop4-ellipse6"
              />
              <div class="desktop4-mask-group">
                <img
                  src="/assets/external/ellipse5119-cuma-200h.png"
                  alt="Ellipse5119"
                  class="desktop4-ellipse5"
                />
                <img
                  src="/assets/external/image4120-ag0e-200h.png"
                  alt="image4120"
                  class="desktop4-image4"
                />
              </div>
            </div>
            <span class="desktop4-text"><span>Alex Smith</span></span>
          </div>
        </div>
        <div class="desktop4-frame48096267">
          <div class="desktop4-solarchatdotslinear">
            <div class="desktop4-group">
              <img
                src="/assets/external/vector125-karb.svg"
                alt="Vector125"
                class="desktop4-vector"
              />
              <img
                src="/assets/external/vector126-2a4.svg"
                alt="Vector126"
                class="desktop4-vector01"
              />
            </div>
          </div>
          <div class="desktop4-solarsettingsminimalisticlinear">
            <div class="desktop4-group01">
              <img
                src="/assets/external/vector129-mr9k.svg"
                alt="Vector129"
                class="desktop4-vector02"
              />
              <img
                src="/assets/external/vector130-b9vr.svg"
                alt="Vector130"
                class="desktop4-vector03"
              />
            </div>
          </div>
          <div class="desktop4-solarbelllinear">
            <div class="desktop4-group02">
              <img
                src="/assets/external/vector133-7x96.svg"
                alt="Vector133"
                class="desktop4-vector04"
              />
              <img
                src="/assets/external/vector134-bn1.svg"
                alt="Vector134"
                class="desktop4-vector05"
              />
            </div>
          </div>
        </div>
        <div class="desktop4-search-bar">
          <div class="desktop4-frame4">
            <div class="desktop4-solarroundedmagniferlinear">
              <div class="desktop4-group03">
                <img
                  src="/assets/external/vector139-qcqn.svg"
                  alt="Vector139"
                  class="desktop4-vector06"
                />
                <img
                  src="/assets/external/vector140-8xbo.svg"
                  alt="Vector140"
                  class="desktop4-vector07"
                />
              </div>
            </div>
            <span class="desktop4-text002">
              <span>Search property...</span>
            </span>
          </div>
        </div>
      </div>
      <div class="desktop4-update-information">
        <div class="desktop4-frame48096268">
          <div class="desktop4-frame48096269">
            <div class="desktop4-solarusersgrouproundedlinear">
              <div class="desktop4-group04">
                <img
                  src="/assets/external/vector147-60ep.svg"
                  alt="Vector147"
                  class="desktop4-vector08"
                />
                <img
                  src="/assets/external/vector148-1rpk.svg"
                  alt="Vector148"
                  class="desktop4-vector09"
                />
                <img
                  src="/assets/external/vector149-yv4.svg"
                  alt="Vector149"
                  class="desktop4-vector10"
                />
                <img
                  src="/assets/external/vector150-j82.svg"
                  alt="Vector150"
                  class="desktop4-vector11"
                />
              </div>
            </div>
            <span class="desktop4-text004"><span>Active Users</span></span>
          </div>
          <div class="desktop4-frame48096271">
            <span class="desktop4-text006"><span>14,7 M</span></span>
            <div class="desktop4-frame48096270">
              <img
                src="/assets/external/solaraltarrowupbold155-oehg.svg"
                alt="solaraltarrowupbold155"
                class="desktop4-solaraltarrowupbold"
              />
              <span class="desktop4-text008"><span>32%</span></span>
            </div>
          </div>
        </div>
        <div class="desktop4-frame480962691">
          <div class="desktop4-frame480962692">
            <div class="desktop4-solarcardtransferlinear">
              <div class="desktop4-group05">
                <img
                  src="/assets/external/vector162-nw7.svg"
                  alt="Vector162"
                  class="desktop4-vector12"
                />
                <img
                  src="/assets/external/vector163-1kh.svg"
                  alt="Vector163"
                  class="desktop4-vector13"
                />
                <img
                  src="/assets/external/vector164-x92.svg"
                  alt="Vector164"
                  class="desktop4-vector14"
                />
              </div>
            </div>
            <span class="desktop4-text010"><span>Transactions</span></span>
          </div>
          <div class="desktop4-frame48096272">
            <span class="desktop4-text012"><span>$ 1.234.10</span></span>
            <div class="desktop4-frame480962701">
              <img
                src="/assets/external/solaraltarrowupbold169-bvjb.svg"
                alt="solaraltarrowupbold169"
                class="desktop4-solaraltarrowupbold1"
              />
              <span class="desktop4-text014"><span>32%</span></span>
            </div>
          </div>
        </div>
        <div class="desktop4-frame480962702">
          <div class="desktop4-frame480962693">
            <div class="desktop4-solarcard2linear">
              <div class="desktop4-group06">
                <img
                  src="/assets/external/vector176-dffl.svg"
                  alt="Vector176"
                  class="desktop4-vector15"
                />
                <img
                  src="/assets/external/vector177-xje.svg"
                  alt="Vector177"
                  class="desktop4-vector16"
                />
                <img
                  src="/assets/external/vector178-1bil.svg"
                  alt="Vector178"
                  class="desktop4-vector17"
                />
              </div>
            </div>
            <span class="desktop4-text016"><span>Cards Issued</span></span>
          </div>
          <div class="desktop4-frame48096273">
            <span class="desktop4-text018"><span>3.442</span></span>
            <div class="desktop4-frame480962703">
              <img
                src="/assets/external/solaraltarrowupbold183-sic.svg"
                alt="solaraltarrowupbold183"
                class="desktop4-solaraltarrowupbold2"
              />
              <span class="desktop4-text020"><span>32%</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop4-chart">
        <div class="desktop4-frame48096276">
          <span class="desktop4-text022"><span>From</span></span>
          <div class="desktop4-frame48096274">
            <span class="desktop4-text024"><span>20 June</span></span>
            <img
              src="/assets/external/outlineinterfacecaretdown191-t3um.svg"
              alt="OutlineInterfaceCaretdown191"
              class="desktop4-outline-interface-caretdown"
            />
          </div>
          <span class="desktop4-text026"><span>To</span></span>
          <div class="desktop4-frame48096275">
            <span class="desktop4-text028"><span>20 July</span></span>
            <img
              src="/assets/external/outlineinterfacecaretdown196-jyn.svg"
              alt="OutlineInterfaceCaretdown196"
              class="desktop4-outline-interface-caretdown1"
            />
          </div>
        </div>
        <div class="desktop4-group5">
          <div class="desktop4-group1">
            <span class="desktop4-text030"><span>140M</span></span>
            <span class="desktop4-text032"><span>120M</span></span>
            <span class="desktop4-text034"><span>100M</span></span>
            <span class="desktop4-text036"><span>80M</span></span>
          </div>
          <img
            src="/assets/external/shape1104-0lbt.svg"
            alt="Shape1104"
            class="desktop4-shape"
          />
          <div class="desktop4-group2">
            <img
              src="/assets/external/line11106-bnmo.svg"
              alt="Line11106"
              class="desktop4-line1"
            />
            <img
              src="/assets/external/line21107-4su.svg"
              alt="Line21107"
              class="desktop4-line2"
            />
            <img
              src="/assets/external/line31108-v8av.svg"
              alt="Line31108"
              class="desktop4-line3"
            />
            <img
              src="/assets/external/line41109-5qq.svg"
              alt="Line41109"
              class="desktop4-line4"
            />
          </div>
          <div class="desktop4-group3">
            <img
              src="/assets/external/shape1111-27ta.svg"
              alt="Shape1111"
              class="desktop4-shape1"
            />
            <img
              src="/assets/external/shape1112-dv7.svg"
              alt="Shape1112"
              class="desktop4-shape2"
            />
          </div>
          <div class="desktop4-group4">
            <div class="desktop4-frame32">
              <span class="desktop4-text038"><span>20 Jun</span></span>
              <span class="desktop4-text040"><span>21 Jun</span></span>
              <span class="desktop4-text042"><span>22 Jun</span></span>
              <span class="desktop4-text044"><span>23 Jun</span></span>
              <span class="desktop4-text046"><span>24 Jun</span></span>
              <span class="desktop4-text048"><span>25 Jun</span></span>
              <span class="desktop4-text050"><span>26 Jun</span></span>
              <span class="desktop4-text052"><span>27 Jun</span></span>
              <span class="desktop4-text054"><span>28 Jun</span></span>
              <span class="desktop4-text056"><span>29 Jun</span></span>
              <span class="desktop4-text058"><span>30 Jun</span></span>
              <span class="desktop4-text060"><span>1 Jul</span></span>
            </div>
          </div>
          <div class="desktop4-group6"></div>
        </div>
        <div class="desktop4-frame48096277">
          <div class="desktop4-frame33">
            <span class="desktop4-text062"><span>Salary</span></span>
            <img
              src="/assets/external/rectangle3011132-rop-200h.png"
              alt="Rectangle3011132"
              class="desktop4-rectangle301"
            />
          </div>
          <div class="desktop4-frame34">
            <span class="desktop4-text064"><span>Cash bond</span></span>
            <img
              src="/assets/external/rectangle3011135-8s9-200h.png"
              alt="Rectangle3011135"
              class="desktop4-rectangle3011"
            />
          </div>
        </div>
      </div>
      <div class="desktop4-frame48096279">
        <div class="desktop4-frame480962694">
          <div class="desktop4-solarroundtransferhorizontallinear">
            <div class="desktop4-group07">
              <img
                src="/assets/external/vector1140-zyo.svg"
                alt="Vector1140"
                class="desktop4-vector18"
              />
              <img
                src="/assets/external/vector1141-e6co.svg"
                alt="Vector1141"
                class="desktop4-vector19"
              />
            </div>
          </div>
          <span class="desktop4-text066"><span>Transaction Details</span></span>
        </div>
        <img
          src="/assets/external/line151143-dklj.svg"
          alt="Line151143"
          class="desktop4-line15"
        />
        <div class="desktop4-frame48096286">
          <div class="desktop4-frame48096282">
            <div class="desktop4-frame48096283">
              <div class="desktop4-logo">
                <img
                  src="/assets/external/spotify211148-jknj.svg"
                  alt="spotify211148"
                  class="desktop4-spotify21"
                />
              </div>
              <div class="desktop4-frame48096281">
                <span class="desktop4-text068"><span>Spotify App</span></span>
                <span class="desktop4-text070">
                  <span>June 19 2023 at 16.42</span>
                </span>
              </div>
            </div>
            <span class="desktop4-text072"><span>-$12.7</span></span>
          </div>
          <div class="desktop4-frame480962831">
            <div class="desktop4-frame480962832">
              <div class="desktop4-logo1">
                <img
                  src="/assets/external/adobexd211157-9kb.svg"
                  alt="adobexd211157"
                  class="desktop4-adobexd21"
                />
              </div>
              <div class="desktop4-frame480962811">
                <span class="desktop4-text074"><span>Adobe XD 2023</span></span>
                <span class="desktop4-text076">
                  <span>June 12 2023 at 10.18</span>
                </span>
              </div>
            </div>
            <span class="desktop4-text078"><span>-$20.74</span></span>
          </div>
          <div class="desktop4-frame48096284">
            <div class="desktop4-frame480962833">
              <div class="desktop4-logo2">
                <img
                  src="/assets/external/upwork111168-kvw.svg"
                  alt="upwork111168"
                  class="desktop4-upwork11"
                />
              </div>
              <div class="desktop4-frame480962812">
                <span class="desktop4-text080"><span>Upwork</span></span>
                <span class="desktop4-text082">
                  <span>June 08 2023 at 23.05</span>
                </span>
              </div>
            </div>
            <span class="desktop4-text084"><span>+$10.812.7</span></span>
          </div>
          <div class="desktop4-frame48096285">
            <div class="desktop4-frame480962834">
              <div class="desktop4-logo3">
                <div class="desktop4-googlecloud11">
                  <div class="desktop4-group08">
                    <img
                      src="/assets/external/vector1180-rinb.svg"
                      alt="Vector1180"
                      class="desktop4-vector20"
                    />
                    <img
                      src="/assets/external/vector1181-ybb.svg"
                      alt="Vector1181"
                      class="desktop4-vector21"
                    />
                    <img
                      src="/assets/external/vector1182-2w0d.svg"
                      alt="Vector1182"
                      class="desktop4-vector22"
                    />
                    <img
                      src="/assets/external/vector1183-e6jg.svg"
                      alt="Vector1183"
                      class="desktop4-vector23"
                    />
                  </div>
                </div>
              </div>
              <div class="desktop4-frame480962813">
                <span class="desktop4-text086"><span>Google Cloud</span></span>
                <span class="desktop4-text088">
                  <span>June 02 2023 at 09.15</span>
                </span>
              </div>
            </div>
            <span class="desktop4-text090"><span>-$124.32</span></span>
          </div>
        </div>
      </div>
      <div class="desktop4-frame48096287">
        <div class="desktop4-frame48096288">
          <div class="desktop4-frame48096290">
            <div class="desktop4-frame48096289">
              <img
                src="/assets/external/visa1011192-bgud.svg"
                alt="visa1011192"
                class="desktop4-visa101"
              />
            </div>
            <span class="desktop4-text092"><span>3419 Debit Card</span></span>
          </div>
        </div>
        <div class="desktop4-frame480962891">
          <div class="desktop4-frame480962901">
            <div class="desktop4-frame480962892">
              <img
                src="/assets/external/mastercard211198-dx9k.svg"
                alt="mastercard211198"
                class="desktop4-mastercard21"
              />
            </div>
            <span class="desktop4-text094"><span>3419 Debit Card</span></span>
          </div>
        </div>
        <div class="desktop4-frame480962902">
          <div class="desktop4-frame480962903">
            <div class="desktop4-frame480962893">
              <img
                src="/assets/external/visa1011208-50f.svg"
                alt="visa1011208"
                class="desktop4-visa1011"
              />
            </div>
            <span class="desktop4-text096"><span>3419 Debit Card</span></span>
          </div>
        </div>
        <div class="desktop4-frame480962695">
          <div class="desktop4-solarwalletmoneylinear">
            <div class="desktop4-group09">
              <img
                src="/assets/external/vector1214-fat.svg"
                alt="Vector1214"
                class="desktop4-vector24"
              />
              <img
                src="/assets/external/vector1215-5rw.svg"
                alt="Vector1215"
                class="desktop4-vector25"
              />
              <img
                src="/assets/external/vector1216-lvy9o.svg"
                alt="Vector1216"
                class="desktop4-vector26"
              />
              <img
                src="/assets/external/vector1217-ujq4.svg"
                alt="Vector1217"
                class="desktop4-vector27"
              />
              <img
                src="/assets/external/vector1218-ta3u.svg"
                alt="Vector1218"
                class="desktop4-vector28"
              />
            </div>
          </div>
          <span class="desktop4-text098"><span>Quick Transfer</span></span>
        </div>
        <img
          src="/assets/external/line151220-7zwh.svg"
          alt="Line151220"
          class="desktop4-line151"
        />
      </div>
      <div class="desktop4-frame48096291">
        <div class="desktop4-group48096028">
          <div class="desktop4-group48096023">
            <span class="desktop4-text100"><span>Actual</span></span>
            <span class="desktop4-text102"><span>Actual</span></span>
            <span class="desktop4-text104"><span>Forecast</span></span>
            <span class="desktop4-text106"><span>Variance</span></span>
            <span class="desktop4-text108"><span>Variance</span></span>
            <span class="desktop4-text110"><span>Variance</span></span>
            <span class="desktop4-text112"><span>Variance</span></span>
          </div>
          <img
            src="/assets/external/line161231-mhg75.svg"
            alt="Line161231"
            class="desktop4-line16"
          />
          <div class="desktop4-frame48096292">
            <div class="desktop4-group48096024">
              <span class="desktop4-text114">
                <span>Office &amp; Supplies</span>
              </span>
              <span class="desktop4-text116"><span>233.457</span></span>
              <span class="desktop4-text118"><span>123.456</span></span>
              <span class="desktop4-text120"><span>123.456</span></span>
              <span class="desktop4-text122"><span>123.456</span></span>
              <span class="desktop4-text124"><span>123.456</span></span>
              <span class="desktop4-text126"><span>123.456</span></span>
            </div>
            <img
              src="/assets/external/line171241-50ih.svg"
              alt="Line171241"
              class="desktop4-line17"
            />
            <div class="desktop4-group48096025">
              <span class="desktop4-text128">
                <span>Office &amp; Supplies</span>
              </span>
              <span class="desktop4-text130"><span>233.457</span></span>
              <span class="desktop4-text132"><span>123.456</span></span>
              <span class="desktop4-text134"><span>123.456</span></span>
              <span class="desktop4-text136"><span>123.456</span></span>
              <span class="desktop4-text138"><span>123.456</span></span>
              <span class="desktop4-text140"><span>123.456</span></span>
            </div>
            <img
              src="/assets/external/line181250-zl1u.svg"
              alt="Line181250"
              class="desktop4-line18"
            />
            <div class="desktop4-group48096026">
              <span class="desktop4-text142">
                <span>Office &amp; Supplies</span>
              </span>
              <span class="desktop4-text144"><span>233.457</span></span>
              <span class="desktop4-text146"><span>123.456</span></span>
              <span class="desktop4-text148"><span>123.456</span></span>
              <span class="desktop4-text150"><span>123.456</span></span>
              <span class="desktop4-text152"><span>123.456</span></span>
              <span class="desktop4-text154"><span>123.456</span></span>
            </div>
            <img
              src="/assets/external/line191259-ts4b.svg"
              alt="Line191259"
              class="desktop4-line19"
            />
            <div class="desktop4-group48096027">
              <span class="desktop4-text156">
                <span>Office &amp; Supplies</span>
              </span>
              <span class="desktop4-text158"><span>233.457</span></span>
              <span class="desktop4-text160"><span>123.456</span></span>
              <span class="desktop4-text162"><span>123.456</span></span>
              <span class="desktop4-text164"><span>123.456</span></span>
              <span class="desktop4-text166"><span>123.456</span></span>
              <span class="desktop4-text168"><span>123.456</span></span>
            </div>
            <img
              src="/assets/external/line201268-u1ts.svg"
              alt="Line201268"
              class="desktop4-line20"
            />
          </div>
        </div>
        <div class="desktop4-frame480962696">
          <div class="desktop4-solardatabaselinear">
            <div class="desktop4-group10">
              <img
                src="/assets/external/vector1272-vyvr.svg"
                alt="Vector1272"
                class="desktop4-vector29"
              />
              <img
                src="/assets/external/vector1273-9p7n.svg"
                alt="Vector1273"
                class="desktop4-vector30"
              />
            </div>
          </div>
          <span class="desktop4-text170"><span>Total Points</span></span>
        </div>
        <img
          src="/assets/external/line151275-1a5b.svg"
          alt="Line151275"
          class="desktop4-line152"
        />
        <span class="desktop4-text172"><span>View All</span></span>
      </div>
      <div class="desktop4-frame48096293">
        <div class="desktop4-frame480962697">
          <div class="desktop4-solardatabaselinear1">
            <div class="desktop4-group11">
              <img
                src="/assets/external/vector1281-96y3.svg"
                alt="Vector1281"
                class="desktop4-vector31"
              />
              <img
                src="/assets/external/vector1282-thdh.svg"
                alt="Vector1282"
                class="desktop4-vector32"
              />
            </div>
          </div>
          <span class="desktop4-text174"><span>Activity Charts</span></span>
        </div>
        <img
          src="/assets/external/line151284-ks9n.svg"
          alt="Line151284"
          class="desktop4-line153"
        />
        <span class="desktop4-text176"><span>Per Week</span></span>
        <span class="desktop4-text178"><span>Per Month</span></span>
        <div class="desktop4-frame48096295">
          <div class="desktop4-frame48096297">
            <img
              src="/assets/external/rectanglecopy71289-lxr5-200w.png"
              alt="RectangleCopy71289"
              class="desktop4-rectangle-copy7"
            />
            <img
              src="/assets/external/rectanglecopy111290-i6i4-200w.png"
              alt="RectangleCopy111290"
              class="desktop4-rectangle-copy11"
            />
            <img
              src="/assets/external/rectanglecopy121291-k7ka-200w.png"
              alt="RectangleCopy121291"
              class="desktop4-rectangle-copy12"
            />
            <img
              src="/assets/external/rectanglecopy131292-nlq-200w.png"
              alt="RectangleCopy131292"
              class="desktop4-rectangle-copy13"
            />
            <img
              src="/assets/external/rectanglecopy141293-j8l-200w.png"
              alt="RectangleCopy141293"
              class="desktop4-rectangle-copy14"
            />
            <img
              src="/assets/external/rectanglecopy141294-m85-200w.png"
              alt="RectangleCopy141294"
              class="desktop4-rectangle-copy141"
            />
            <img
              src="/assets/external/rectanglecopy141295-z3zn-200w.png"
              alt="RectangleCopy141295"
              class="desktop4-rectangle-copy142"
            />
          </div>
          <img
            src="/assets/external/line211296-ud2.svg"
            alt="Line211296"
            class="desktop4-line21"
          />
        </div>
        <div class="desktop4-frame48096296">
          <div class="desktop4-frame48096294">
            <img
              src="/assets/external/rectanglecopy71299-diaj-200w.png"
              alt="RectangleCopy71299"
              class="desktop4-rectangle-copy71"
            />
            <img
              src="/assets/external/rectanglecopy111300-mydi-200w.png"
              alt="RectangleCopy111300"
              class="desktop4-rectangle-copy111"
            />
            <img
              src="/assets/external/rectanglecopy121301-nruv-200w.png"
              alt="RectangleCopy121301"
              class="desktop4-rectangle-copy121"
            />
            <img
              src="/assets/external/rectanglecopy131302-ihdq-200w.png"
              alt="RectangleCopy131302"
              class="desktop4-rectangle-copy131"
            />
            <img
              src="/assets/external/rectanglecopy141303-irjj-200w.png"
              alt="RectangleCopy141303"
              class="desktop4-rectangle-copy143"
            />
            <img
              src="/assets/external/rectanglecopy141304-saci-200w.png"
              alt="RectangleCopy141304"
              class="desktop4-rectangle-copy144"
            />
            <img
              src="/assets/external/rectanglecopy141305-51jc-200w.png"
              alt="RectangleCopy141305"
              class="desktop4-rectangle-copy145"
            />
            <img
              src="/assets/external/rectanglecopy231306-sjto-200w.png"
              alt="RectangleCopy231306"
              class="desktop4-rectangle-copy23"
            />
            <img
              src="/assets/external/rectanglecopy141307-lkcl-200w.png"
              alt="RectangleCopy141307"
              class="desktop4-rectangle-copy146"
            />
            <img
              src="/assets/external/rectanglecopy141308-t9p-200w.png"
              alt="RectangleCopy141308"
              class="desktop4-rectangle-copy147"
            />
            <img
              src="/assets/external/rectanglecopy241309-8vqd-200w.png"
              alt="RectangleCopy241309"
              class="desktop4-rectangle-copy24"
            />
            <img
              src="/assets/external/rectanglecopy251310-l6kl-200w.png"
              alt="RectangleCopy251310"
              class="desktop4-rectangle-copy25"
            />
          </div>
          <img
            src="/assets/external/line211311-kbb.svg"
            alt="Line211311"
            class="desktop4-line211"
          />
        </div>
        <div class="desktop4-frame48096298">
          <span class="desktop4-text180"><span>View Per Quarter</span></span>
          <img
            src="/assets/external/outlineinterfacecaretdown1314-x1ka.svg"
            alt="OutlineInterfaceCaretdown1314"
            class="desktop4-outline-interface-caretdown2"
          />
        </div>
        <div class="desktop4-frame48096299">
          <span class="desktop4-text182"><span>View Per Year</span></span>
          <img
            src="/assets/external/outlineinterfacecaretdown1318-v58qt.svg"
            alt="OutlineInterfaceCaretdown1318"
            class="desktop4-outline-interface-caretdown3"
          />
        </div>
      </div>
    </div>
    <div class="desktop4-sidebar-menu">
      <div class="desktop4-frame48096264">
        <span class="desktop4-text184"><span>Dashboard</span></span>
        <img
          src="/assets/external/line141323-tw3d.svg"
          alt="Line141323"
          class="desktop4-line14"
        />
        <div class="desktop4-frame48096263">
          <div class="desktop4-frame48096261">
            <img
              src="/assets/external/outlineinterfacelayout1326-feo.svg"
              alt="OutlineInterfaceLayout1326"
              class="desktop4-outline-interface-layout"
            />
            <span class="desktop4-text186"><span>Home</span></span>
          </div>
          <div class="desktop4-frame48096260">
            <img
              src="/assets/external/outlinecommunicationuser1329-iijo.svg"
              alt="OutlineCommunicationUser1329"
              class="desktop4-outline-communication-user"
            />
            <span class="desktop4-text188"><span>Files</span></span>
          </div>
          <div class="desktop4-frame48096259">
            <img
              src="/assets/external/outlinegeneralbag1332-pzg.svg"
              alt="OutlineGeneralBag1332"
              class="desktop4-outline-general-bag"
            />
            <span class="desktop4-text190"><span>Deadline Project</span></span>
          </div>
          <div class="desktop4-frame48096258">
            <img
              src="/assets/external/outlinestatuslock1335-z64p.svg"
              alt="OutlineStatusLock1335"
              class="desktop4-outline-status-lock"
            />
            <span class="desktop4-text192"><span>Management</span></span>
          </div>
          <div class="desktop4-frame48096262">
            <img
              src="/assets/external/outlinestatuslock1338-8uib.svg"
              alt="OutlineStatusLock1338"
              class="desktop4-outline-status-lock1"
            />
            <span class="desktop4-text194"><span>Database</span></span>
          </div>
        </div>
      </div>
      <div class="desktop4-frame48096265">
        <span class="desktop4-text196"><span>Customer Data</span></span>
        <img
          src="/assets/external/line141342-yje.svg"
          alt="Line141342"
          class="desktop4-line141"
        />
        <div class="desktop4-frame480962631">
          <div class="desktop4-frame480962611">
            <img
              src="/assets/external/outlineinterfacelayout1345-hru.svg"
              alt="OutlineInterfaceLayout1345"
              class="desktop4-outline-interface-layout1"
            />
            <span class="desktop4-text198"><span>Team Award</span></span>
          </div>
          <div class="desktop4-frame480962601">
            <img
              src="/assets/external/outlinecommunicationuser1348-7gsf.svg"
              alt="OutlineCommunicationUser1348"
              class="desktop4-outline-communication-user1"
            />
            <span class="desktop4-text200"><span>Invoice Data</span></span>
          </div>
          <div class="desktop4-frame480962591">
            <img
              src="/assets/external/outlinegeneralbag1351-it7.svg"
              alt="OutlineGeneralBag1351"
              class="desktop4-outline-general-bag1"
            />
            <span class="desktop4-text202"><span>Settings</span></span>
          </div>
          <div class="desktop4-frame480962581">
            <img
              src="/assets/external/outlinestatuslock1354-wzjf.svg"
              alt="OutlineStatusLock1354"
              class="desktop4-outline-status-lock2"
            />
            <span class="desktop4-text204"><span>Announcement</span></span>
          </div>
          <div class="desktop4-frame480962621">
            <img
              src="/assets/external/outlinestatuslock1357-dl43.svg"
              alt="OutlineStatusLock1357"
              class="desktop4-outline-status-lock3"
            />
            <span class="desktop4-text206"><span>Media Assets</span></span>
          </div>
          <div class="desktop4-frame480962632">
            <img
              src="/assets/external/outlinestatuslock1360-opbm.svg"
              alt="OutlineStatusLock1360"
              class="desktop4-outline-status-lock4"
            />
            <span class="desktop4-text208"><span>Client Feedback</span></span>
          </div>
        </div>
      </div>
      <img
        src="/assets/external/sdash1375-tn1oq.svg"
        alt="SDash1375"
        class="desktop4--dash"
      />
    </div>
  </div>
</div>
